/*  Genesis Accessible Dropdown Menu Stylesheet

	Used by the Genesis Accessible  Plugin

	Version: 1.0.0

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php

 */


.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.wpacc-hover > ul.sub-menu {
	left: auto;
	opacity: 1;
}